html, body, #app {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Whitney Helvetica-Neue Helvetica Arial sans-serif;
  user-select: none;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.overflow-hidden {
  overflow: hidden;
}

.main {
  width: 100%;
  height: 100%;
}

.groups {
  width: 70px;
  background-color: #171d1f;
  text-align: center;
  padding: 0;
}

ul.groups {
  height: auto;
  margin: 20px auto;
}

.groups * {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: auto;
  color: #535559;
  line-height: 50px;
  transition: all .25s ease;
}

.add-group {
  border: 1px dashed #535559;
  font-size: 40px;
}

.select-group {
  margin-bottom: 5px;
  background-color: #3a3f40;
  font-size: 25px;
  list-style-type: none;
  overflow: hidden;
}

.select-group:hover {
  border-radius: 20%;
  background-color: #5f95a9;
  cursor: pointer;
  color: white;
}

.selected {
  border-radius: 20%;
  background-color: #5f95a9;
  color: white;
}

.add-group:hover {
  cursor: pointer;
  color: #65808a;
  border-color: #223d42;
}

.group {
  display: flex;
  flex: 1;
}

.edge-wrap {
  width: 200px;
  background-color: #2e3136;
}

.content {
  flex: 1;
  background-color: #3a3f40;
  user-select: text;
}

.messages {
  height: 90%;
  overflow-y: auto;
  overflow-x: hidden;
}

.text-wrap {
  flex: 1;
  margin: 0 20px;
}

.text-wrap-inner {
  padding: 20px 0;
  border-top: 1px solid #eceeef;
}

.text-area {
  padding: 10px;
  background-color: hsla(0,0%,100%,.06);
  color: #fff;
  width: 90%;
  resize: none;
}

.message {
  color: #fff;
  list-style-type: none;
  margin-bottom: 5px;
}

.timestamp {
  display: block;
  color: #777777;
  font-size: small;
  font-style: italic;
}

.msg {
  max-width: 100%;
  word-break: break-all;
}

.background-dim {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background-color: rgba(0,0,0,.8);
  transition: background-color .25s ease;
}

@keyframes top-to-bottom {
  0% {
    bottom: 100%;
  }
  60% {
    bottom: calc(100% - 200px);
  }
  80% {
    bottom: calc(100% - 180px);
  }
  90% {
    bottom: calc(100% - 185px);
  }
  100% {
    bottom: calc(100% - 180px);
  }
}

.modal {
  position: absolute;
  left: calc(50% - 150px);
  bottom: calc(100% - 180px);
  padding: 10px;
  z-index: 2;
  text-align: center;
  width: 300px;
  height: 250px;
  background-color: white;
  border: 1px solid #7289da;
  border-radius: 10px;
  animation-name: top-to-bottom;
  animation-duration: 0.4s;
}

.modal-title {
  position: static;
  display: block;
  width: 100%;
  text-align: center;
  margin: 100px 0 20px 0;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  color: #7289da;
}

.btn-big {
  background-color: #7289da;
  padding: 10px 20px;
  margin: 20px auto;
  font-size: 16px;
  line-height: 16px;
  font-weight: bold;
  color: white;
  transition: background-color .2s ease;
  position: relative;
  cursor: pointer;
  border: 0;
  border-radius: 2px;
  display: block;
}

.hidden {
  visibility: hidden;
  background-color: rgba(0,0,0,0);
}
