html, body, #app {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: ‘Whitney SSm A’, ‘Whitney SSm B’, “ff-meta-web-pro”, sans-serif;
  user-select: none;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.overflow-hidden {
  overflow: hidden;
}

.main {
  width: 100%;
  height: 100%;
  background-color: #3a3f40;
}

.groups {
  width: 70px;
  background-color: #171d1f;
  text-align: center;
  padding: 0;
}

ul.groups {
  height: auto;
  margin: 20px auto;
}

.groups * {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: auto;
  color: #535559;
  line-height: 50px;
  transition: all .25s ease;
  font-size: 20px;
}

.add-group {
  border: 1px dashed #535559;
  font-size: 40px;
}

.select-group {
  margin-bottom: 5px;
  background-color: #3a3f40;
  list-style-type: none;
}

@keyframes select-group {
  0% {
    border-radius: 50%;
  }
  50% {
    border-radius: 25%;
  }
  90% {
    border-radius: 32%;
  }
  100% {
    border-radius: 30%;
  }
}

.select-group:hover {
  border-radius: 30%;
  background-color: #5f95a9;
  cursor: pointer;
  color: white;
  animation: select-group;
  animation-duration: .5s;
}

.selected {
  margin-bottom: 5px;
  border-radius: 30%;
  background-color: #5f95a9;
  color: white;
  list-style-type: none;
}

.add-group:hover {
  cursor: pointer;
  color: #65808a;
  border-color: #223d42;
}

.channels {
  padding: 0;
  margin: 0;
}

.channel {
  list-style-type: none;
  cursor: pointer;
  padding: 10px 0;
  border-radius: 0;
  color: #6c6e71;
}

.active {
  background-color: #3a3f40;
  color: white;
}

.channel:hover {
  color: white;
}

.group {
  display: flex;
  flex: 1;
}

.group-name {
  padding: 15px 0;
  color: white;
  border-bottom: 1px solid #1e2124;
}

.edge-wrap {
  width: 200px;
  background-color: #2e3136;
  text-align: center;
}

.content {
  flex: 1;
  background-color: #3a3f40;
  user-select: text;
}

.messages {
  padding-right: 10px;
  margin: 0;
  height: 90%;
  overflow-y: auto;
  overflow-x: hidden;
}

.text-wrap {
  flex: 1;
  margin: 0 20px;
}

.text-wrap-inner {
  padding: 20px 0;
  border-top: 1px solid #eceeef;
}

.text-area {
  padding: 10px;
  background-color: hsla(0,0%,100%,.06);
  color: #fff;
  width: 90%;
  resize: none;
}

.message-header {
  margin: 5px 0 5px 0;
}

.message {
  color: #bdbec0;
  list-style-type: none;
  margin-bottom: 5px;
}

.username {
  margin-right: 5px;
  color: #ffffff;
}

.timestamp {
  color: #8a8e94;
  font-style: italic;
  font-size: 10px;
  font-weight: normal;
}

.msg {
  max-width: 100%;
  word-break: break-all;
}

.scroller::-webkit-scrollbar {
	width: 10px;
}

.scroller::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 8px;
	background-color: #2e3136;
}

.scroller::-webkit-scrollbar-track-piece {
  background-color: transparent;
  border-color: transparent;
  border: none;
}

.scroller::-webkit-scrollbar-thumb {
  background-color: #1e2124;
  border: none !important;
  border-radius: 4px;
}

.background-dim {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background-color: rgba(0,0,0,.8);
  transition: background-color .25s ease;
}

@keyframes top-to-bottom {
  0% {
    bottom: 100%;
  }
  40% {
    bottom: calc(100% - 180px);
  }
  60% {
    bottom: calc(100% - 175px);
  }
  80% {
    bottom: calc(100% - 180px);
  }
  90% {
    bottom: calc(100% - 178px);
  }
  100% {
    bottom: calc(100% - 180px);
  }
}

.modal {
  position: absolute;
  left: calc(50% - 150px);
  bottom: calc(100% - 180px);
  padding: 10px;
  z-index: 2;
  text-align: center;
  width: 300px;
  height: 250px;
  background-color: white;
  border: 1px solid #7289da;
  border-radius: 10px;
  animation-name: top-to-bottom;
  animation-duration: 0.5s;
}

.modal-title {
  position: static;
  display: block;
  width: 100%;
  text-align: center;
  margin: 100px 0 20px 0;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  color: #7289da;
}

.btn-big {
  background-color: #7289da;
  padding: 10px 20px;
  margin: 20px auto;
  font-size: 16px;
  line-height: 16px;
  font-weight: bold;
  color: white;
  transition: background-color .2s ease;
  position: relative;
  cursor: pointer;
  border: 0;
  border-radius: 2px;
  display: block;
}

.hidden {
  visibility: hidden;
  background-color: rgba(0,0,0,0);
}
